/*
CSS Colors
*/

:root{
  --ans-primary-bg: #005c51;
  --ans-secondary: #88e03e;
  --ans-secondary-bg: #abed23;
}

.ans-primary-bg{
  background-color: var(--ans-primary-bg);
}
.profile-icon{
    font-size: 1.8rem;
}

.user-profile{
    height: 35px;
    width: 35px;
}

.ans-toggler i{
    font-size: 28px;
}

.content {
  transition: margin-left 0.3s ease;
}

/* when offcanvas is open */
.offcanvas.show ~ .content {
  margin-left: 250px; /* width of sidebar */
}
